{{- $refs := $.Page.Scratch.Get "references" | default slice -}}
{{- $class := .Attributes.class | default "" -}}
{{- $ref := dict "text" .Text "url" .Destination "class" $class -}}
{{- /* Only append if the URL doesn't exist yet */ -}}
{{- $exists := false -}}
{{- range $refs -}}
  {{- if eq .url $ref.url -}}
    {{- $exists = true -}}
  {{- end -}}
{{- end -}}
{{- if not $exists -}}
  {{- $.Page.Scratch.Set "references" ($refs | append $ref) -}}
{{- end -}}
<a href="{{ .Destination | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}{{ with .Attributes.class }} class="{{ . }}"{{ end }}>
  {{- .Text -}}
</a> 